<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <!-- <h3 class="footer-title"><a href="#">{{site.title}}</a></h3> -->
          <h3><a href="/"><span class="footer-logo-title-rj">RJ</span> <span>Tax</span></a></h3>
          <ul class="footer-menu">
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/#services">Services</a></li>
            <li><a href="{{site.baseurl}}/#team">Team</a></li>
            <li><a href="{{site.baseurl}}/#features">Features</a></li>
            <li><a href="{{site.baseurl}}/contact">Contact</a></li>
            <li class="copyright">© {{site.title}} {{site.time | date:'%Y'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>