<div class='header {{include.headerClass}}'>
  <div class="container">
    <div class="logo">
      <!-- <a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/logo.svg" /></a> -->
      <a href="{{site.baseurl}}/">
        <!-- <img alt="Figurit Homepage" src="{{site.baseurl}}/images/desktop-logo.png" /> -->
        <h1><span class="logo-title-rj">RJ</span> <span class="logo-title-tax">Tax</span></h1>
      </a>
    </div>
    <div class="logo-mobile">
      <!-- <a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/logo-mobile.svg" /></a> -->
      <a href="{{site.baseurl}}/">
        <!-- <img alt="Figurit Homepage" src="{{site.baseurl}}/images/favicon.png" /> -->
        <h4>RJ</h4>
      </a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>