<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li><i class="fas fa-phone-alt"></i> <strong>Phone: </strong>{{ site.data.contact.phone }}</li>
            <li><i class="far fa-envelope"></i> <strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}</a></li>
          </ul>
          <ul>
            <li><a href="http://www.simplexhub.com/">Simplexhub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>